body {
    text-align: center;
    background-color: rgb(215, 231, 250);
    height: 100vh;
}
.top {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.search{
    text-align: center;
    display: flex;
}
.btn btn-outline-secondary{
    height: 50px;
}
.form-control{
    width: 50px;
    height: 35px;
    text-align: center;
}
.hamburger{
   width: 50px;
   height: 30px;
}
.header{
    width:100%;
    height: 6vh;
    top: 0;
    left: 0;/* サイドバーの背景色を設定 */
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: blueviolet;
    display: flex;
    color: #fff; /* テキストカラーを白色に設定 */
    border: none;
}

.head_top button:hover {
    background-color: #e9cbff; /* ホバー時の背景色を設定 */
}
.btn.btn-outline-secondary {
    border: 2px solid white;
    background-color:  white;
    height: 35px;
}
.head_top:focus {
    outline: none;
}
.side_curent_weather{
    border: 1px  solid rgb(255, 255, 255);
}
.weather_box{
    border: 5px  solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.weather_top{
    display:flex;
}
@media screen and (min-width: 500px) {
    #hamburger {
        display: none; /* 画面幅が500px以上の場合に非表示 */
    }
    .sidebar {
        display: none;
    }
    .head_top button {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        width: 100%; /* ボタンを幅いっぱいに広げる */
        padding: 10px;
        margin-bottom: 5px; /* ボタン同士の間隔を設定 */
        color: #fff; /* テキストカラーを白色に設定 */
        border: none;
        text-align: center; /* テキストを左寄せにする */
    }
}


@media (max-width: 500px) {
    .header button:not(#hamburger) {
        display: none; /* ハンバーガーアイコン以外を非表示 */
    }
    .sidebar {
        height: 100%;
        width: 200px; /* サイドバーの幅を設定 */
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333; /* サイドバーの背景色を設定 */
        padding-top: 20px;
        z-index: 9999; 
    }
    .head_top button {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        width: 100%; /* ボタンを幅いっぱいに広げる */
        padding: 10px;
        margin-bottom: 5px; /* ボタン同士の間隔を設定 */
        color: #fff; /* テキストカラーを白色に設定 */
        border: none;
        text-align: left; /* テキストを左寄せにする */
    }

}